html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
}

/* ----- A supprimer si le header dans index n'est pas utile ----- */
#header {
  display: flex;
  margin:0;
  padding:0;
  background: url("img/faun_template_Photo_TOP.png") no-repeat center fixed;
  background-size: cover;
}

/* ----- Vertical Nav ----- */
.icon-bar {
  width: 400px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 32px;
  transition: all 0.3s ease;
  color: #717171;
  font-size: 18px;
}

.icon-bar a:hover {
  background-color: auto;
  color: #fefefe;
}

.icon-bar {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2vw;
}

/* ----- Sections ----- */
#section1 {
  display: flex;
  margin:0;
  padding:0;
  background-image: url("img/faun_template_BG_TOP.png"), url("img/faun_template_Photo_TOP.png");
  background-size: cover;
  background-position: center fixed;
  background-repeat: no-repeat;
  }
#section2{
  background-color: #fefefe;
}
#section3{
  display: flex;
  margin:0;
  padding:0;
  background: url("img/faun_template_Main photo BG_VIDEO.png");
  background-size: cover;
  background-position: center fixed;
  background-repeat: no-repeat;
}
#section4{
  margin:0;
  padding:0;
  background: url("img/faun_template_Photo_BOTTOM.png") no-repeat center fixed;
  background-size: cover;
}

.ContainerNoWay {
text-align: center;
margin-top: 10rem;
}
