html {
  scroll-behavior: smooth;
  font-family: 'Yu Gothic';
}

body {
  background-color: #222222;
}

/* ----- NavBar ----- */
.dropdown-menu {
  background-color: inherit;
  border: none;
}

.dropdown-item {
  border-radius: 1rem;
  color: #999999;
}

#faunNav {
  color: #fefefe;
  font-size: 30px;
  transform: scale(1, 1.4);
}

/* ----- Vertical Nav ----- */
.icon-bar {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1vw;
}

.icon-bar a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  transition: all 0.5s ease;
  color: #757575;
  font-size: 1.5rem;
}

.icon-bar a:hover {
  background-color: auto;
  color: #fefefe; /* le chiffre change de couleur */
  text-decoration: none; /* enlève le trait sous le chiffre */
}

.effetBar:hover {
  align-items: center;
  display: flex;
  text-align: center;
}

.effetBar:before,
.effetBar:after {
    color: #757575;
    border-top: 0.05em solid;
    content: "";/* nécessaire pour afficher les pseudo-éléments */
    flex: 1;/* partage le reste de la largeur disponible */
    margin: 0.5em;/* espace les traits du texte */
}

/* ----- Section n°1 ----- */
#section1 {
  background-image: url("img/faun_template_BG_TOP.png"), url("img/faun_template_Photo_TOP.png");
  background-size: cover;
  background-position: center fixed;
  background-repeat: no-repeat;
}

#musicMore {
  line-height: 5rem;
}

#safe {
  color: #999999;
  font-size: 4rem;
}

#music {
  color: #ed1f34;
  font-size: 10rem;
  opacity: 0.6;
  margin-left: -0.7rem;
}

#high {
  color: #fefefe;
  font-size: 5rem;
  padding-bottom: 6rem;
}
#viewMore {
  font-size: 1.5rem;
  letter-spacing: -2px;
  word-spacing: 8px;
  margin: 30px;
}

/* ----- Section n°2 ----- */
#section2 {
  background-color: #fefefe;
}

#aboutUs {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 50px;
  letter-spacing: -2px;
  transform: scale(1, 1.4);
}

#checkOur {
  font-size: 25px;
  text-align: center;
  letter-spacing: -2px;
  word-spacing: 8px;
  margin: 20px;
}

/* ----- Section n°3 ----- */
#section3 {
  background: url("img/faun_template_Main photo BG_VIDEO.png");
  background-size: cover;
  background-position: center fixed;
  background-repeat: no-repeat;
}

#player {
  align-items: center;
  padding-left: 12rem;
}

#elipsePlay {
  position: relative;
  z-index:2;
}

#elipseL {
  position: absolute;
  z-index:1;
}

#elipseM {
  position: absolute;
  z-index:1;
}

#elipseS {
  position: absolute;
  z-index:1;
}

#video {
  color: #ed1f34;
  font-size: 4rem;
  opacity: 0.65;
}

#lorem {
  font-size: 1rem;
  line-height: 30px;
  color: #999999;
}

#progress {
margin-left: -1rem;
margin-right: -1rem;
background-color: #444444;
}

#progressBar {
 background-color: #ed1f34;

}

/* ----- Section n°4 ----- */
#section4 {
  margin:0;
  padding:0;
  background: url("img/faun_template_Photo_BOTTOM.png") center fixed;
  background-size: cover;
}

  #wantTo {
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 50px;
    letter-spacing: -2px;
    transform: scale(1, 1.4);
    color: #fefefe
  }

  #loremm {
    padding-top: 20px;
    padding-bottom: 80px;
    font-size: 15px;
    line-height: 30px;
    color: #999999;
  }

  #contactUs {
    font-size: 25px;
    text-align: center;
    letter-spacing: -2px;
    word-spacing: 8px;
    margin: 20px;
  }

/* ----- Footer ----- */
#footer {
  margin-top: 5rem;
  margin-bottom: 6rem;
  letter-spacing: -2px;
  transform: scale(1, 1.4);
}

  #faun {
    color: #fefefe;
    font-size: 30px;
    margin-bottom: -1.3rem;
  }

  #allRights {
    color: #444444;
    font-size: 25px;
  }

/* ----- Page "noway" pour tester les liens ----- */
#containerNoWay {
  background-color: #fefefe;
  margin-top: 10rem;
  padding-bottom: 10rem;
}
